
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}